body {
    background-image: url("shop2.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    font-weight: bold;
    text-align: center;
    height: 100hv;
}

.container{
    background: #eff1ed;
    max-width: 80%;
    margin: auto;
    border: 3px solid white;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 2px #9c6644;
}

p{
    color: whitesmoke;
    text-shadow: 2px 2px #9c6644;
    font-size: 20px;
    max-width: auto;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px #9c6644;
}

button {
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #f7a399;
}

#save-btn {
    background: #b8b8ff;
}

